.divFundo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto {
  color: red
}

.claro {
  background-color: white;
}

.escuro {
  background-color: black;
}